@model PersonelViewModel
<div class="card-body">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="FirstName" class="form-label">Ad :</label>
                <input style="width:250px" asp-for="FirstName" type="text" class="form-control" placeholder="Ad">
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="justify-content-end" style="margin-left:50px;">
                <div class="mb-1 mx-5">
                    <label style="font-weight:bold" asp-for="SecondName" class="form-label">İkinci Ad :</label>
                    <input style="width:250px" asp-for="SecondName" type="text" class="form-control" placeholder="İkinci Ad">
                    <span asp-validation-for="@Model.SecondName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="Surname" class="form-label">Soyad :</label>
                <input style="width:250px" asp-for="Surname" type="text" class="form-control" placeholder="Soyad">
                <span asp-validation-for="@Model.Surname" class="text-danger"></span>
            </div>
            <div class="justify-content-end" style="margin-left:50px;">
                <div class="mb-1 mx-5">
                    <label style="font-weight:bold" asp-for="SecondSurname" class="form-label">İkinci Soyad :</label>
                    <input style="width:250px" asp-for="SecondSurname" type="text" class="form-control" placeholder="İkinci Soyad">
                    <span asp-validation-for="@Model.SecondSurname" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="Maas" class="form-label">Maaş :</label>
                <input style="width:250px" asp-for="Maas" type="number" class="form-control" placeholder="Maaş">
                <span asp-validation-for="@Model.Maas" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="PhoneNumber" class="form-label">Telefon Numarası :</label>
                <input style="width:250px" asp-for="PhoneNumber" type="number" class="form-control" placeholder="05XXXXXXXXX" data-val="true" data-val-turkeyphone="Geçerli bir Türk telefon numarası girin.">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="justify-content-end" style="margin-left:50px;">
                <div class="mb-1 mx-5">
                    <label style="font-weight:bold" asp-for="TC" class="form-label">TC No :</label>
                    <input style="width:250px" asp-for="TC" type="number" class="form-control" placeholder="TC No">
                    <span asp-validation-for="@Model.TC" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="Address" class="form-label">Adres :</label>
                <input style="width:250px" size="33" asp-for="Address" type="text" class="form-control" placeholder="Ev Adresi">
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="justify-content-end" style="margin-left:50px">
                <div class="mb-1 mx-5">
                    <label style="font-weight:bold" asp-for="Photo" class="form-label">Fotoğraf :</label>
                    <input style="width:250px" asp-for="Photo" type="file" class="form-control" placeholder="Fotoğraf">
                    <span asp-validation-for="@Model.Photo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="BirthPlace" class="form-label">Doğum Yeri :</label>
                <input style="width:250px" asp-for="BirthPlace" type="text" class="form-control" placeholder="Doğum Yeri">
                <span asp-validation-for="@Model.BirthPlace" class="text-danger"></span>
            </div>
            <div class="justify-content-end" style="margin-left:50px;">
                <div class="mb-1 mx-5">
                    <label style="font-weight:bold" asp-for="BirthDate" class="form-label">Doğum Günü :</label>
                    <input style="width:250px" asp-for="BirthDate" type="date" class="form-control" placeholder="Doğum Günü">
                    <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="Job" class="form-label">Meslek :</label>
                <input style="width:250px" asp-for="Job" type="text" class="form-control" placeholder="İş">
                <span asp-validation-for="@Model.Job" class="text-danger"></span>
            </div>
            <div class="justify-content-end" style="margin-left:50px;">
                <div class="mb-1 mx-5">
                    <label style="font-weight:bold" asp-for="DepartmentId" class="me-2">Departman :</label>
                    <select style="font-weight:bold" asp-for="DepartmentId" asp-items="@ViewBag.DepartmentList" class="form-select me-3 w-auto">
                    </select>
                </div>
            </div>
        </div>

        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="StartDateOfWork" class="form-label">İşe Başlama Tarihi :</label>
                <input style="width:250px" asp-for="StartDateOfWork" type="date" id="StartDateOfWork" class="form-control">
                <span asp-validation-for="@Model.StartDateOfWork" class="text-danger"></span>
            </div>
            <div class="justify-content-end" style="margin-left:50px">
                <div class="mb-1 mx-5">
                    <label style="font-weight:bold" asp-for="EndDateOfWork" class="form-label">İşten Çıkış Tarihi : </label>
                    <input style="width:250px" asp-for="EndDateOfWork" type="date" id="EndDateOfWork" class="form-control">
                    <span asp-validation-for="@Model.EndDateOfWork" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-1 d-flex justify-content-start">
            <div class="mb-1 mx-5">
                <label style="font-weight:bold" asp-for="IsActive" class="form-check-label"> Cinsiyet Erkekse İşaretleyiniz :</label>
                <input asp-for="Gender" type="checkbox">
                <span asp-validation-for="@Model.Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-1">
            <select style="font-weight:bold" asp-for="CompanyId" asp-items="@ViewBag.CompanyList" class="form-select me-3 w-auto" hidden>
            </select>
        </div>
        <div class="mb-1">
            <select hidden asp-for="ManagerId" asp-items="@ViewBag.ManagerList" class="form-select me-3 w-auto">
            </select>
        </div>
        <div class="col-sm-0">
            <input asp-for="IsActive" type="hidden" id="IsActive" class="form-control">
        </div>
        <div class="d-flex justify-content-center">
            <button style="font-weight:bold" type="submit" class="btn btn-outline-dark" asp-action="AddPersonel" asp-controller="Manager">EKLE</button>
        </div>

    </form>
</div>


@section Scripts {
    <script>
        // HTML'deki ContractEndYear elementi
        const contractEndYear = document.getElementById("EndDateOfWork");

        // EndDateOfWork değişkeni bir değer aldığında
        contractEndYear.addEventListener("change", function () {
            // IsActive değeri false olarak ayarlanacak
            document.getElementById("IsActive").value = false;
        });

        // EndDateOfWork değişkeni bir değer almazsa
        if (!contractEndYear.value) {
            // IsActive değeri true olarak ayarlanacak
            document.getElementById("IsActive").value = true;
        }
    </script>
}

